@import url('./styles/Containers.css');
@import url('./styles/Text.css');
@import url('./styles/Geral.css');
:root {
  --primary-color: #6F0A59;
  --secundary-color: #FF8800;
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
}

/*rgb(235, 235, 235)*/

html, body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  min-height: 100vh; /* Garante que o conteúdo não seja cortado */
  width: 100%; /* Em vez de 100%, que pode extrapolar */
  justify-content: center;
  align-items: sta;
  flex-direction: column; /* Se precisar empilhar elementos verticalmente */
}
